{% liquid

  assign count = 0
  assign cols = 1
  if settings.social_facebook_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_twitter_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_pinterest_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_instagram_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_tiktok_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_slack_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_linkedin_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_flickr_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_yelp_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_vimeo_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_youtube_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_tumblr_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_wordpress_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_snapchat_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_twitch_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_reddit_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_github_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_spotify_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_tripadvisor_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_slideshare_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_xing_link != blank
    assign count = count | plus: 1
  endif
  if settings.social_behance_link != blank
    assign count = count | plus: 1
  endif
  if count > 3
    assign cols = 2
  endif
%}

{% if count > 0 %}
  <p class="connect cols-{{ cols }}">
    {% if settings.social_facebook_link != blank %}<a href="{{ settings.social_facebook_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Facebook' }}"><i class="fc fc-facebook-square"></i>Facebook</a><br>{% endif %}
    {% if settings.social_twitter_link != blank %}<a href="{{ settings.social_twitter_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Twitter' }}"><i class="fc fc-twitter-square"></i>Twitter</a><br>{% endif %}
    {% if settings.social_pinterest_link != blank %}<a href="{{ settings.social_pinterest_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Pinterest' }}"><i class="fc fc-pinterest-square"></i>Pinterest</a><br>{% endif %}
    {% if settings.social_instagram_link != blank %}<a href="{{ settings.social_instagram_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Instagram' }}"><i class="fc fc-instagram"></i>Instagram</a><br>{% endif %}
    {% if settings.social_tiktok_link != blank %}<a href="{{ settings.social_tiktok_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'TikTok' }}"><i class="fc fc-tiktok"></i>TikTok</a><br>{% endif %}
    {% if settings.social_slack_link != blank %}<a href="{{ settings.social_slack_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Slack' }}"><i class="fc fc-slack"></i>Slack</a><br>{% endif %}
    {% if settings.social_youtube_link != blank %}<a href="{{ settings.social_youtube_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Youtube' }}"><i class="fc fc-youtube-square"></i>Youtube</a><br>{% endif %}
    {% if settings.social_linkedin_link != blank %}<a href="{{ settings.social_linkedin_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Linkedin' }}"><i class="fc fc-linkedin-square"></i>Linkedin</a><br>{% endif %}
    {% if settings.social_flickr_link != blank %}<a href="{{ settings.social_flickr_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Flickr' }}"><i class="fc fc-flickr"></i>Flickr</a><br>{% endif %}
    {% if settings.social_yelp_link != blank %}<a href="{{ settings.social_yelp_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Yelp' }}"><i class="fc fc-yelp"></i>Yelp</a><br>{% endif %}
    {% if settings.social_vimeo_link != blank %}<a href="{{ settings.social_vimeo_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Vimeo' }}"><i class="fc fc-vimeo-square"></i>Vimeo</a><br>{% endif %}
    {% if settings.social_tumblr_link != blank %}<a href="{{ settings.social_tumblr_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Tumblr' }}"><i class="fc fc-tumblr-square"></i>Tumblr</a><br>{% endif %}
    {% if settings.social_wordpress_link != blank %}<a href="{{ settings.social_wordpress_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Wordpress' }}"><i class="fc fc-wordpress"></i>Wordpress</a><br>{% endif %}
    {% if settings.social_snapchat_link != blank %}<a href="{{ settings.social_snapchat_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Snapchat' }}"><i class="fc fc-social-snapchat"></i>Snapchat</a><br>{% endif %}
    {% if settings.social_twitch_link != blank %}<a href="{{ settings.social_twitch_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Twitch' }}"><i class="fc fc-twitch"></i>Twitch</a><br>{% endif %}
    {% if settings.social_reddit_link != blank %}<a href="{{ settings.social_reddit_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Reddit' }}"><i class="fc fc-reddit-square"></i>Reddit</a><br>{% endif %}
    {% if settings.social_github_link != blank %}<a href="{{ settings.social_github_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Github' }}"><i class="fc fc-github-square"></i>Github</a><br>{% endif %}
    {% if settings.social_spotify_link != blank %}<a href="{{ settings.social_spotify_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Spotify' }}"><i class="fc fc-spotify"></i>Spotify</a><br>{% endif %}
    {% if settings.social_tripadvisor_link != blank %}<a href="{{ settings.social_tripadvisor_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Tripadvisor' }}"><i class="fc fc-tripadvisor"></i>Tripadvisor</a><br>{% endif %}
    {% if settings.social_slideshare_link != blank %}<a href="{{ settings.social_slideshare_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Slideshare' }}"><i class="fc fc-slideshare"></i>Slideshare</a><br>{% endif %}
    {% if settings.social_xing_link != blank %}<a href="{{ settings.social_xing_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Xing' }}"><i class="fc fc-xing-square"></i>Xing</a><br>{% endif %}
    {% if settings.social_behance_link != blank %}<a href="{{ settings.social_behance_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Behance' }}"><i class="fc fc-behance-square"></i>Behance</a><br>{% endif %}
  </p>
{% endif %}