<div class="content slideshow height_100 no-padding expanded">
  <div class="slides">
    <div class="slide">
      <div class="content {{ section.settings.alignment }}">
        <div class="container">
          {% render 'logo' %}
          <div class="landing">
            {% if section.settings.heading != blank %}
              <h2>{{ section.settings.heading }}</h2>
            {% endif %}
            {% unless shop.password_message == blank %}
              <h3>{{ shop.password_message | newline_to_br }}</h3>
            {% endunless %}
            {% if section.settings.newsletter_enable %}
              {% form 'customer' %}
                {% if form.posted_successfully? %}
                  <h3 class="success">{{ 'general.password_page.signup_form_success' | t }}</h3>
                {% else %}
                  {% if section.settings.subheading != blank %}
                    <div class="rte">
                      {{ section.settings.subheading }}
                    </div>
                  {% endif %}
                  <div class="form">
                    <div class="inputs">
                      <input type="hidden" name="contact[tags]" value="prospect, password page">
                      <input class="email{% if form.errors contains 'email' %} error{% endif %}" type="text" name="contact[email]" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" autocorrect="off" autocapitalize="off" aria-label="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                      <input type="submit" class="btn action small" value="{{ 'general.password_page.signup_form_submit' | t }}">
                    </div>
                    {% if form.errors %}
                      {% for field in form.errors %}
                        <div class="field-error">{{ form.errors.messages[field] }}</div>
                      {% endfor %}
                    {% endif %}
                  </div>
                {% endif %}
              {% endform %}
            {% endif %}
          </div>
          <div class="login">
            {% form 'storefront_password' %}
              <p>{{ 'general.password_page.login_form_heading' | t }}</p>
              <div class="form">
                <div class="inputs">
                  <input class="email" type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                  <input type="submit" class="btn action small" name="commit" value="{{ 'general.password_page.login_form_submit' | t }}">
                </div>
                {% if form.errors %}
                  {% for field in form.errors %}
                    <div class="field-error">{{ form.errors.messages[field] }}</div>
                  {% endfor %}
                  <script type="text/javascript">
                    window.show_password_login = true;
                  </script>
                {% endif %}
                <div class="link">
                  {{ 'general.password_page.admin_link_html' | t }}
                </div>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
      <div class="top-right">
        <a href="#" class="btn line close hide" data-action="show-landing" aria-label="{{ 'general.accessibility.close_modal' | t }}"><i class="fc fc-close"></i> {{ 'general.password_page.back_link_html' | t }}</a>
        <a href="#" class="btn line password" data-action="show-login"><i class="fc fc-lock"></i> {{ 'general.password_page.password_link_html' | t }}</a>
      </div>
      <div class="bottom-right">
        <div class="banner">
          {% capture shopify %}
            <a href="//www.shopify.com" target="_blank" rel="nofollow" >
              {% render 'shopify-svg' %}
              <span>Shopify</span>
            </a>
          {% endcapture %}
          {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.password.name",
  "class": "password-section",
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.password.settings.alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.password.settings.alignment.options__1"
        },
        {
          "value": "center",
          "label": "t:sections.password.settings.alignment.options__2"
        },
        {
          "value": "right",
          "label": "t:sections.password.settings.alignment.options__3"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.password.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "t:sections.password.settings.logo_max_width.label",
      "default": 250,
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.password.settings.heading.label",
      "default": {
        "ar": "قريبا الافتتاح",
        "bg": "Отваря скоро",
        "ca": "Obertura aviat",
        "cs": "Otvíráme brzy",
        "da": "Åbner snart",
        "de": "Öffnet bald",
        "el": "Ανοίγει σύντομα",
        "en": "Opening soon",
        "es": "Próxima apertura",
        "fi": "Avataan pian",
        "fr": "Ouverture prochaine",
        "he": "נפתח בקרוב",
        "hr": "Otvara se uskoro",
        "hu": "Nyitás hamarosan",
        "id": "Segera dibuka",
        "it": "Prossima apertura",
        "ja": "まもなくオープン",
        "ko": "오픈 예정",
        "lt": "Greitai atsidarys",
        "nb": "Åpner snart",
        "nl": "Gaat binnenkort open",
        "pl": "Wkrótce otwarcie",
        "pt-BR": "Aberto em breve",
        "pt-PT": "Aberto em breve",
        "ro": "Se deschide in curand",
        "ru": "Открытие в ближайшее время",
        "sk": "Otvorenie čoskoro",
        "sl": "Odprtje kmalu",
        "sv": "Öppnar snart",
        "th": "เปิดเร็ว ๆ นี้",
        "tr": "Yakında açılacak",
        "vi": "Sắp mở cửa",
        "zh-CN": "即将开业",
        "zh-TW": "即將開業"
      }
    },
    {
      "type": "header",
      "content": "t:sections.password.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "t:sections.password.settings.newsletter_enable.label",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "t:sections.password.settings.paragraph.content"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "t:sections.password.settings.subheading.label",
      "default": {
        "ar": "<p> كن أول من يعرف متى نطلق: </p>",
        "bg": "<p>Бъдете първите, които ще научите, когато стартираме:</p>",
        "ca": "<p>Sigues el primer en saber-ho quan comenciem:</p>",
        "cs": "<p>Buďte první, kdo se o spuštění dozví:</p>",
        "da": "<p>Vær den første til at vide, når vi lancerer:</p>",
        "de": "<p>Erfahren Sie als Erster, wann wir starten:</p>",
        "el": "<p>Γίνετε ο πρώτος που θα μάθετε πότε ξεκινάμε:</p>",
        "en": "<p>Be the first to know when we launch:</p>",
        "es": "<p>Sé el primero en saber cuándo lanzamos:</p>",
        "fi": "<p>Saat ensimmäisenä tiedon, kun julkaisemme:</p>",
        "fr": "<p>Soyez le premier informé du lancement :</p>",
        "he": "<p>היה הראשון לדעת כשאנחנו משיקים:</p>",
        "hr": "<p>Budite prvi koji će saznati kada pokrenemo:</p>",
        "hu": "<p>Legyen Ön az első, aki értesül az indulásról:</p>",
        "id": "<p>Jadilah yang pertama tahu saat kami meluncurkan:</p>",
        "it": "<p>Sii il primo a sapere quando lanciamo:</p>",
        "ja": "<p>起動時に最初に知ってください：</p>",
        "ko": "<p>출시 시점을 가장 먼저 알아보세요:</p>",
        "lt": "<p>Pirmieji sužinokite, kai paleidžiame:</p>",
        "nb": "<p>Vær den første som får vite når vi lanserer:</p>",
        "nl": "<p>Wees als eerste op de hoogte wanneer we lanceren:</p>",
        "pl": "<p>Bądź pierwszym, który dowie się, kiedy uruchomimy:</p>",
        "pt-BR": "<p>Seja o primeiro a saber quando lançarmos:</p>",
        "pt-PT": "<p>Seja o primeiro a saber quando lançarmos:</p>",
        "ro": "<p>Fii primul care află când lansăm:</p>",
        "ru": "<p>Узнайте первым, когда мы запустим:</p>",
        "sk": "<p>Buďte prvý, kto sa dozvie o spustení:</p>",
        "sl": "<p>Bodite prvi, ki bo izvedel, ko bomo lansirali:</p>",
        "sv": "<p>Var den första att veta när vi lanserar:</p>",
        "th": "<p>รู้ก่อนใครเมื่อเราเปิดตัว:</p>",
        "tr": "<p>Başladığımızda ilk öğrenen siz olun:</p>",
        "vi": "<p> Hãy là người đầu tiên biết khi chúng tôi ra mắt: </p>",
        "zh-CN": "<p>第一个知道我们何时发布：</p>",
        "zh-TW": "<p>第一個知道我們何時發布：</p>"
      }
    }
  ]
}

{% endschema %}